<h1>World Data</h1>
<h3>Countries</h3>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Code</th>
        <th>Area</th>
      </tr>
    </thead>
    <tbody>
      @for(country of countries; track $index) {
      <tr>
        <td><a (click)="goToRoute('languages', country.countryId)">{{ country["name"] }}</a></td>
        <td class="data-centered">{{ country["countryCode"] }}</td>
        <td class="data-centered">{{ country["area"] }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
